:root {
  /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
  --primary: #4633d4;
  /* These are highlight colors for text, box edges, ect. */
  --primaryLight: #543dff;
  --secondary: #878787;
  --secondaryLight: #bebebe;
  --headerColor: #ffffff;
  --bodyTextColor: #000000;
  /* global text color */
  --bodyTextColorWhite: #ffffff;
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #000;
  margin: 0;
  padding: 0;

  /* Set text color*/
}


*,
*:before,
*:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}

.cs-topper {
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: .1em;
  font-weight: 700;
  /* color: var(--headerColor); to have it match global color style*/
  color: #000000;
  margin-bottom: 0.25rem;
  display: block;
}

.cs-title {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--primary);
  position: relative;
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--bodyTextColor);
}


/*-- -------------------------- -->
<---    Top Banner w/ Text      -->
<--- -------------------------- -*/


/* Fixed banner styles */
#Banner-Section-With-Text .banner {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

#Banner-Section-With-Text .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Add the black tint overlay */
#Banner-Section-With-Text .banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Black tint with 50% opacity */
  z-index: 1;
  /* Ensure it sits on top of the image but below the text box */
}


#Banner-Section-With-Text .text-box {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 50%;
  /* Limit width for better readability */
  z-index: 2;

}

#Banner-Section-With-Text .text-box h1 {
  margin-top: 5%;
  font-size: var(--topperFontSize);
}

#Banner-Section-With-Text .text-box p {
  margin-top: 0;
  font-size: var(--headerFontSize);
}

/* Mobile-specific styles */
@media only screen and (max-width: 63.9375rem) {
  #Banner-Section-With-Text .banner {
    height: 20vh;
  }

  #Banner-Section-With-Text .text-box {
    left: 2%;
    max-width: 90%;
    /* Adjust max-width for smaller screens */
  }
}


/*-- -------------------------- -->
<---   Products Side By Side   -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

  #RPsbs-products,
  #RPsbs-products {
    padding: 0 1em;
    position: relative;
    z-index: 1;
  }

  #RPsbs-products .cs-container,
  #RPsbs-products .cs-container {
    width: 100%;
    /* changes to 1280px on tablet */
    max-width: 34.375rem;
    padding: var(--sectionPadding);
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 108px */
    gap: clamp(3rem, 8vw, 6.75rem);
    position: relative;
  }

  #RPsbs-products .cs-content,
  #RPsbs-products .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    /* changes at tablet */
    max-width: 27.125rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }

  #RPsbs-products .cs-title,
  #RPsbs-products .cs-title {
    max-width: 20ch;
  }

  #RPsbs-products .cs-text,
  #RPsbs-products .cs-text {
    margin-bottom: 1rem;
    opacity: 0.8;
  }

  #RPsbs-products .cs-text:last-of-type,
  #RPsbs-products .cs-text:last-of-type {
    margin-bottom: 2rem;
  }

  #RPsbs-products .cs-button-solid,
  #RPsbs-products .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }

  #RPsbs-products .cs-button-solid:before,
  #RPsbs-products .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }

  #RPsbs-products .cs-button-solid:hover:before,
  #RPsbs-products .cs-button-solid:hover:before {
    width: 100%;
  }

  #RPsbs-products .cs-picture,
  #RPsbs-products .cs-picture {
    width: 100%;
    max-width: 27.125rem;
    margin: 0;
    border: 1px solid #f1f1f4;
    position: relative;
    display: block;
    /* width divided by height */
    aspect-ratio: 1;
    /* prevents border from adding to height and width */
    box-sizing: border-box;
  }

  #RPsbs-products .cs-picture img,
  #RPsbs-products .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {

  #RPsbs-products .cs-container,
  #RPsbs-products .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #RPsbs-products .cs-lines,
  #RPsbs-products .cs-lines {
    height: 100%;
    width: 35%;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }


  #RPsbs-products .cs-picture,
  #RPsbs-products .cs-picture {
    /* 344px - 434px */
    width: clamp(21.5rem, 37.5vw, 27.125rem);
    flex: none;
  }

  #RPsbs-products .cs-content,
  #RPsbs-products .cs-content {
    max-width: 33.875rem;
    margin: 0;
    width: 45%;
  }
}



/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1121 {
    padding: var(--sectionPadding);
    background-color: #1a1a1a;
    position: relative;
    z-index: 1;
  }

  #services-1121 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }

  #services-1121 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* changes to a clamp on tablet */
    gap: 2.5rem;
  }

  #services-1121 .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
    max-width: 25.8125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 16px - 24px */
    gap: clamp(1rem, 3vw, 1.5rem);
  }

  #services-1121 .cs-image-group {
    /* 80px - 100px */
    width: clamp(5rem, 8vw, 6.25rem);
    height: clamp(5rem, 8vw, 6.25rem);
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
    z-index: 1;
  }

  #services-1121 .cs-icon {
    /* 36px - 48px */
    width: clamp(2.25rem, 4vw, 3rem);
    height: auto;
  }

  #services-1121 .cs-graphic {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  #services-1121 .cs-h2 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: inherit;
    margin: 0 0 0.75rem;
    color: var(--bodyTextColorWhite);
  }

  #services-1121 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }

  #services-1121 .cs-waves {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* makes it act like a background image */
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1121 .cs-card-group {
    flex-direction: row;
    /*justify-content: space-between;
      align-items: stretch;*/
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1121 .cs-item {
    text-align: left;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-between;*/
  }
}


/*-- -------------------------- -->
<---   Why Us Side By Side   -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

  #RPsbs-why-us,
  #RPsbs-why-us {
    padding: 0 1em;
    position: relative;
    z-index: 1;
  }

  #RPsbs-why-us .cs-container {
    width: 100%;
    /* changes to 1280px on tablet */
    max-width: 34.375rem;
    padding: var(--sectionPadding);
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 108px */
    gap: clamp(3rem, 8vw, 6.75rem);
    position: relative;
  }

  #RPsbs-why-us .cs-content {
    text-align: left;
    width: 100%;
    max-width: 27.125rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #RPsbs-why-us .cs-title {
    width: 100%;
    color:var(--bodyTextColor);
    margin-bottom: 10%;
  }

  #RPsbs-why-us .cs-text-wrapper {
    display: flex;
    align-items: flex-start;
    /* Align items to the top */
    margin-bottom: 1rem;
    /* Space between this block and the next content */
    position: relative;
    /* For absolute positioning of the icon */
    width: 100%;
    /* Ensure the wrapper takes the full width */
  }

  #RPsbs-why-us .cs-icon-wrapper {
    position: absolute;
    /* Position icon in the top-left corner */
    top: 0;
    left: 0;
    width: clamp(3.75rem, 7vw, 5rem);
    height: clamp(3.75rem, 7vw, 5rem);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #RPsbs-why-us .cs-icon {
    width: 3rem; /* This sets icon size */
    height: auto;
    display: block;
  }

  #RPsbs-why-us .cs-text-content {
    margin-left: clamp(4rem, 8vw, 6rem);
    /* Ensure there's space for the icon */
    display: flex;
    flex-direction: column;
    /* Stack topper and text vertically */
    align-items: flex-start;
    /* Align topper and text to the left */
  }

  #RPsbs-why-us .cs-topper {
    opacity: 0.8;
  }

  #RPsbs-why-us .cs-text {
    margin-top: 0.5rem;
    /* Space between topper and text */
    opacity: 0.8;
  }

  #RPsbs-why-us .cs-text:last-of-type {
    margin-bottom: 2rem;
  }

  #RPsbs-why-us .cs-picture {
    width: 100%;
    max-width: 27.125rem;
    margin: 0;
    border: 1px solid #f1f1f4;
    position: relative;
    display: block;
    /* width divided by height */
    aspect-ratio: 1;
    /* prevents border from adding to height and width */
    box-sizing: border-box;
  }

  #RPsbs-why-us .cs-picture img,
  #RPsbs-why-us .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {

  #RPsbs-why-us .cs-container,
  #RPsbs-why-us .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #RPsbs-why-us .cs-lines,
  #RPsbs-why-us .cs-lines {
    height: 100%;
    width: 35%;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }


  #RPsbs-why-us .cs-picture,
  #RPsbs-why-us .cs-picture {
    /* 344px - 434px */
    width: clamp(21.5rem, 37.5vw, 27.125rem);
    flex: none;
  }

  #RPsbs-why-us .cs-content,
  #RPsbs-why-us .cs-content {
    max-width: 33.875rem;
    margin: 0;
    width: 45%;
  }
}


/*-- -------------------------- -->
<---      Divider Shape         -->
<--- -------------------------- -*/
#Divider .divider {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
}
#Divider .custom-shape-divider-bottom-1723582066 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

#Divider .custom-shape-divider-bottom-1723582066 svg {
  position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 101px;
}

#Divider .custom-shape-divider-bottom-1723582066 .shape-fill {
  fill: #391CC7;
}

/*-- -------------------------- -->
<---   Contact Bottom Banner    -->
<--- -------------------------- -*/
#Contact-banner .banner {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  background-color: #391CC7;
}